/* Coolors Exported Palette - coolors.co/ffffff-00a7e1-00171f-003459-007ea7 */

$color1: #ffffff; //rgba(255, 255, 255, 100)	//white
$color2: #00a7e1; //rgba(0, 167, 225, 100)	//light-royal-blue
$color3: #00171f; //rgba(0, 23, 31, 100)	// navy
$color4: #003459; //rgba(0, 52, 89, 100)	//darker-blue
$color5: #007ea7; //rgba(0, 126, 167, 100)	//mid-blue