/* Coolors Exported Palette - coolors.co/ffaa00-4ea1ed-adadad-4e5466-b22020 */

$color1: #ffaa00; //rgba(255, 170, 0, 100) //orange-bronze
$color2: #4ea1ed; //rgba(78, 161, 237, 100)	//light-blue
$color3: #adadad; //rgba(173, 173, 173, 100)	//grey
$color4: #4e5466; //rgba(78, 84, 102, 100)	//dark grey
$color5: #b22020; //rgba(178, 32, 32, 100)	//mid-red